.accordion-start-js {
  transition: 0.3s;
    cursor: pointer;

  &.open svg {
    transform: rotateX(-180deg);
  }

  svg {
    width: 36px;
    height: 36px;
    fill: #ad6ed3;
    transition: 0.3s;
    transform: rotate(0deg);
  }
}

.accordion-content-js{
  position: relative;
  z-index: 1;
  color: #1e1e1e;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  transition: all 0.3s ease-out;
  box-sizing: content-box;

  &.open {
    padding-top: 16px;
    padding-bottom: 40px;
    max-height: inherit;
    opacity: 1;
    overflow: visible;
    visibility: visible;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
