.card-block{
  &__items{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);

    @include max1024 {
      grid-gap: 20px;
    }

    @media screen and (max-width: 1023px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 700px) {
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 500px) {
      grid-gap: 10px;
    }
  }

  &--catalog{
    @include min1024 {
      .card-main{
        &:hover{
          .price-card{
            max-height: inherit;
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}
