.card-product {
  &__items {
    display: flex;

    @include max1300 {
      display: block;
    }
  }

  &__item {
    width: 50%;
    &:nth-child(1) {
      width: 44%;
    }
    &:nth-child(2) {
      width: 54%;
    }
    &:not(:last-child) {
      margin-right: 40px;

      @include max1366 {
        margin-right: 25px;
      }

      @include max1300 {
        margin-right: 0;
        margin-bottom: 30px;
      }
    }

    @include max1300 {
      &:nth-child(1) {
        width: 100%;
      }
      &:nth-child(2) {
        width: 100%;
      }
    }
  }

  &__description {
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.3;
    color: #1e1e1e;

    @include max1024 {
      font-size: 14px;
      margin-bottom: 20px;
    }
  }

  &__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.4;
    color: #1e1e1e;
    margin-bottom: 30px;

    @include max1024 {
      margin-bottom: 20px;
      font-size: 24px;
    }

    @include max600 {
      font-size: 23px;
    }
  }

  &__price {
    margin-bottom: 20px;
  }

  &__delivery {
    margin-bottom: 20px;
  }

  &__marketplaylist {
    margin-bottom: 20px;
  }

  &__product {
    margin-bottom: 20px;
  }
}
.slider-carousel {
  &__wrapper {
    height: auto;
  }
}
.name-h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 1.3;
  color: #1e1e1e;

  @include max1024 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  @include max600 {
    font-size: 18px;
  }

  @include max375 {
    margin-bottom: 10px;
  }

  &_bold {
    font-weight: 700;
  }
}
.characteristics {
  &__list {
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: rgba(30, 30, 30, 0.5);

    span {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @include max1600 {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      span {
        &:not(:last-child) {
          margin-right: 10px;
        }
      }

      font-size: 16px;
    }



    @include max600 {
      font-size: 14px;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &__description {
  }

  &__result {
  }
}
.price-block {
  &__inner {
    display: flex;

    position: relative;
    &::after {
      content: "";
      display: inline-block;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0;
      bottom: 0;
      border-radius: 15px;
      padding: 3px;
      z-index: -1;
      background: -o-linear-gradient(left, #ad6ed3 0%, #efa1c3 100%);
      background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#ad6ed3),
        to(#efa1c3)
      );
      background: linear-gradient(90deg, #ad6ed3 0%, #efa1c3 100%);
      -webkit-mask: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #fff)
          )
          content-box,
        -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;
    }
  }

  &__item {
    width: 33.3333%;
    padding: 20px;
    text-align: center;
    position: relative;
    &:not(:first-child) {
      &:before {
        content: "";
        display: inline-block;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        width: 2px;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0;
        bottom: 0;
        border-radius: 15px;
        padding: 2px;
        z-index: -1;
        background: -o-linear-gradient(left, #ad6ed3 0%, #efa1c3 100%);
        background: -webkit-gradient(
          linear,
          left top,
          right top,
          from(#ad6ed3),
          to(#efa1c3)
        );
        background: linear-gradient(90deg, #ad6ed3 0%, #efa1c3 100%);
        -webkit-mask: -webkit-gradient(
              linear,
              left top,
              left bottom,
              color-stop(0, #fff)
            )
            content-box,
          -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
        -webkit-mask: linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
      }
    }

    @include max1600 {
      padding: 10px;
    }

    @include max375 {
      padding: 5px;
    }
  }

  &__sum {
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: #1e1e1e;
    margin-bottom: 10px;

    @include max1600 {
      font-size: 16px;
      margin-bottom: 10px;
    }

    @include max600 {
      font-size: 16px;
    }
  }

  &__quantity {
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: rgba(30, 30, 30, 0.5);

    @include max1600 {
      font-size: 14px;
    }
  }
}
.delivery-button {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;

  &__item {
    margin: 5px;
    flex-grow: 1;

    @include max1024 {
      flex-grow: 0;
    }
  }
}

.product-cart {
  &__item {
    padding: 16px 0;
    display: flex;
    position: relative;

    > *:not(:first-child) {
      margin-right: 5px;
    }

    &:last-child::after {
      content: "";
      display: inline-block;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: -3px;
      left: 0px;
      right: 0;
      bottom: 0;
      border-radius: 15px;
      padding: 1px;
      z-index: -1;
      background: -o-linear-gradient(left, #ad6ed3 0%, #efa1c3 100%);
      background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#ad6ed3),
        to(#efa1c3)
      );
      background: linear-gradient(90deg, #ad6ed3 0%, #efa1c3 100%);
      -webkit-mask: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #fff)
          )
          content-box,
        -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
    }

    &:before {
      content: "";
      display: inline-block;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0;
      bottom: 0;
      border-radius: 15px;
      padding: 1px;
      z-index: -1;
      background: -o-linear-gradient(left, #ad6ed3 0%, #efa1c3 100%);
      background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#ad6ed3),
        to(#efa1c3)
      );
      background: linear-gradient(90deg, #ad6ed3 0%, #efa1c3 100%);
      -webkit-mask: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #fff)
          )
          content-box,
        -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
    }

    @include max600 {
      flex-wrap: wrap;
      margin: -10px;
      > div {
        margin: 10px;
      }
    }
  }

  &__img {
    margin-right: 20px;
    flex-shrink: 0;
    max-width: 70px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    > *:not(:first-child) {
      margin-top: 10px;
    }
  }

  &__text {
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #1e1e1e;
    display: inline-block;

    @include max1600 {
      font-size: 18px;
    }

    @include max1366 {
      font-size: 14px;
    }

    @include max600 {
      font-size: 17px;
    }
  }

  &__quantity {
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    display: inline-block;
    align-self: center;
    color: rgba(30, 30, 30, 0.5);
    margin-left: auto;
    flex-shrink: 0;

    @include max1366 {
      flex-shrink: 1;
    }

    @include max600 {
      width: 100%;
      text-align: right;
      font-size: 17px;
    }
  }

  &__stepper {
    &.stepper {
      margin: 0;

      @include max600 {
        padding: 0;
        margin: 10px;
        max-width: 140px;
        margin-left: auto;
      }
    }
  }
}

.total-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px -15px;

  &__item {
    align-self: center;
    margin: 10px 15px;

    @include max600 {
      &:nth-child(3) {
        width: 100%;
        margin-top: 24px;
      }
    }
  }

  &__total {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
    color: #efa1c3;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));

    @include max1366 {
      font-size: 18px;
    }
  }

  &__stepper {
    min-width: 160px;
    padding: 0;

    @include max1366 {
      min-width: 140px;
    }

    @include max600 {
      padding: 0;
      min-width: 140px;
    }
  }

  &__button {
    @include max600 {
      width: 100%;
    }
  }
}

.slider-carousel {
  overflow: hidden;
  margin-bottom: 30px;

  @include max1024 {
    max-width: 500px;
    margin: 0 auto 30px;
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-self: center;
    height: inherit;
    //background: #EFA1C3;
    overflow: hidden;
    border-radius: 15px;

    iframe,
    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      border: none;
    }

    a {
      align-self: center;
    }

    img {
      [alt] {
        opacity: 0;
      }
    }

    @include max600 {
      min-height: 100%;
      img {
        max-height: 250px;
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 20px;
    height: 100%;
    background: #ad6ed3;
    border-radius: 15px;
    transition: 0.3s;
    top: auto;
    margin-top: 0;

    @include min1024 {
      &:hover {
        background: #efa1c3;
      }
    }
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-prev {
    left: 0;
  }


}

.gallery {
  height: 60px;
  padding: 0 30px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 20px auto 60px;

  @include max1366 {
    height: 60px;
    margin: 10px auto 30px;
  }

  &__wrapper{
    display: flex;
    align-items: center;
  }


  &__body {
    display: flex;
    justify-content: center;
    padding: 0 5px;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    color: #fff;
    font-size: 14px;
    text-transform: none !important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
  }

  &__image {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 2px;
    max-width: 78px;
    height: 50px;
    width: 100%;
    transition: 0.3s;
    padding: 5px 3px;
    &:after {
      content: "";
      display: inline-block;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0;
      bottom: 0;
      border-radius: 5px;
      padding: 2px;
      z-index: 1;
      background: transparent;
    }

    &.swiper-slide-thumb-active {
      &:after {
        background: -o-linear-gradient(left, #ad6ed3 0%, #efa1c3 100%);
        background: -webkit-gradient(
          linear,
          left top,
          right top,
          from(#ad6ed3),
          to(#efa1c3)
        );
        background: linear-gradient(90deg, #ad6ed3 0%, #efa1c3 100%);
        -webkit-mask: -webkit-gradient(
              linear,
              left top,
              left bottom,
              color-stop(0, #fff)
            )
            content-box,
          -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
        -webkit-mask: linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
      }
    }

    picture {
      display: flex;
      align-items: flex-start;
    }

    @include max600 {
      max-width: 65px;
      flex-shrink: 0;
      margin: 0 5px;
    }

    @include max1024 {
      max-width: 58px;
    }

    @include max1300 {
      max-width: 78px;
    }

    @include max600 {
      max-width: 74px;
      min-width: 60px;
    }

    @include min1024 {
      &:hover {

        &:after {
          background: -o-linear-gradient(left, #ad6ed3 0%, #efa1c3 100%);
          background: -webkit-gradient(
            linear,
            left top,
            right top,
            from(#ad6ed3),
            to(#efa1c3)
          );
          background: linear-gradient(90deg, #ad6ed3 0%, #efa1c3 100%);
          -webkit-mask: -webkit-gradient(
                linear,
                left top,
                left bottom,
                color-stop(0, #fff)
              )
              content-box,
            -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
          -webkit-mask: linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
          -webkit-mask-composite: destination-out;
          mask-composite: exclude;
        }
      }

    }
  }
}

.video {
  position: relative;
  width: 100%;
  height: 300px;
  min-height: 100%;
  display: inline-block;
  background: #efa1c3;
  border-radius: 15px;
  overflow: hidden;

  @include max1024 {
    height: 250px;
  }

  @include max600 {
    height: 200px;
  }
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
  max-width: 100px;

  @include max600 {
    max-width: 60px;
  }
}

.video-play {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
}

.video-play-shape {
  fill: #212121;
  fill-opacity: 0.8;
}

.video-play-icon {
  fill: #ffffff;
}

.video-play:focus {
  outline: none;
}

.video:hover .video-play-shape,
.video:focus .video-play-shape {
  fill: #ff0000;
  fill-opacity: 1;
}
