.card-block{
  &__items{
    display: grid;
    grid-gap: 80px 30px;
    grid-template-columns: repeat(4, 1fr);



    @include max1024 {
      grid-gap: 80px 20px;
    }


    @media screen and (max-width: 1024px) {
      grid-gap: 60px 20px;
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 60px 15px;
    }

    @media screen and (max-width: 599px) {
      grid-gap: 55px 10px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &--catalog{
    @include min1024 {
      margin-bottom: 80px;
      .card-main{
        &:hover{
          .price-card{
            max-height: inherit;
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    @media screen and (max-width: 1024px) {
      margin-bottom: 80px;
    }
  }
}

.card-main{
  &:hover{
    position: relative;
    z-index: 5;
  }
}
