.contacts {
  &__title {
  }

  &_bottom {
    margin-top: 100px;
    position: relative;

    &:before {
      content: "";
      display: inline-block;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      width: 100%;
      height: 2px;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0;
      border-radius: 15px;
      padding: 1px;
      z-index: -1;
      background: -o-linear-gradient(left, #ad6ed3 0%, #efa1c3 100%);
      background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#ad6ed3),
        to(#efa1c3)
      );
      background: linear-gradient(90deg, #ad6ed3 0%, #efa1c3 100%);
      -webkit-mask: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #fff)
          )
          content-box,
        -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;
    }

    &:after {
      content: "";
      display: inline-block;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      width: 100%;
      height: 2px;
      position: absolute;
      left: 0px;
      right: 0;
      bottom: 0;
      border-radius: 15px;
      padding: 1px;
      z-index: -1;
      background: -o-linear-gradient(left, #ad6ed3 0%, #efa1c3 100%);
      background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#ad6ed3),
        to(#efa1c3)
      );
      background: linear-gradient(90deg, #ad6ed3 0%, #efa1c3 100%);
      -webkit-mask: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #fff)
          )
          content-box,
        -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;
    }

    @include max1366 {
      margin-top: 70px;
    }

    @include max1024 {
      margin-top: 60px;
    }

    @include max600 {
      margin-top: 40px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    @include max600 {
      flex-direction: column;
    }
  }

  &__map {
    background: #efa1c3;
    width: 600px;
    height: 600px;
    border-radius: 35px;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 40px;
    transition: 0.3s;

    @include max1366 {
      width: 450px;
      height: 450px;
    }

    @include max1024 {
      width: 400px;
      height: 450px;
      margin-right: 20px;
    }

    @include max768 {
      width: 250px;
      height: 350px;
      margin-right: 20px;
    }



    @media screen and (max-width: 600px) {
      width: 100%;
      height: 250px;
      margin: 0 0 30px 0;
    }
  }

  &__block {
    max-width: 750px;
  }

  &__body {
    position: relative;
  }

  &__form {
    @include max600 {
      .item-form__input {
        padding: 10px 15px;
        height: 100%;
      }
    }
  }

  &__bg{
    width: 50%;
  }

  &__form {
    padding: 64px 0;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @include max1366 {
      padding: 40px 0;
    }

    @include max1024 {
      padding: 30px;
    }

    @include max600 {
      padding: 20px;
    }
  }
}

.block-contacts {
  &__items {
    display: flex;
    flex-direction: column;
    a {
      transition: 0.3s;
      @include min1024 {
        &:hover {
          color: #ad6ed3;

          svg {
            fill: #ad6ed3;
          }
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 40px;

      @include max1024 {
        margin-bottom: 25px;
      }
    }
  }

  &__title {
  }

  &__item {
    display: inline-flex;
    align-items: center;
    align-self: flex-start;

    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    color: #1e1e1e;
    font-size: 18px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @include max1366 {
      font-size: 18px;
    }

    @include max1024 {
      font-size: 14px;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    @include max600 {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  &__icon {
    transition: 0.3s;
    fill: #1e1e1e;
    flex-shrink: 0;
    width: 35px;
    height: 35px;
    margin-right: 15px;

    @include max1366 {
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }

    @include max600 {
      width: 20px;
      height: 20px;
    }
  }
}

.title-h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.4;
  color: #ad6ed3;
  margin-bottom: 20px;

  &_text-center {
    text-align: center;
  }

  @include max1366 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  @include max600 {
    font-size: 18px;
  }
}

.form-contacts {
  &__button {
    margin: 64px auto 0;

    @include max768 {
      margin: 40px auto 0;
    }
  }
}

.bg-left {
  left: 0;
  top: 0;
  height: 100%;
  position: absolute;

  @include max768 {
    display: none;
  }

  .contacts__bg--first{
    position: absolute;
    left: 55px;
    top: 125px;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    background: linear-gradient(
      79.28deg,
      rgba(173, 110, 211, 0.7) 25.33%,
      rgba(239, 161, 195, 0.7) 82.39%
    );
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);

    @include max1600 {
      width: 180px;
      height: 180px;
    }

    @include max1366 {
      width: 126px;
      height: 126px;
    }
  }

  .contacts__bg--second{
    width: 85px;
    height: 85px;
    position: absolute;
    border-radius: 50%;
    left: 288px;
    bottom: 48px;
    background: linear-gradient(
      79.28deg,
      rgba(173, 110, 211, 0.2) 25.33%,
      rgba(239, 161, 195, 0.2) 82.39%
    );
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);

    @include max1600 {
      width: 55px;
      height: 55px;
      left: 188px;
      bottom: 78px;
    }

    @include max1366 {
      width: 45px;
      height: 45px;
      left: 88px;
      bottom: 138px;
    }
  }

}

.bg-right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  .contacts__bg--first{
    border-radius: 50%;
    width: 255px;
    height: 255px;
    right: 52px;
    position: absolute;
    top: 25px;

    background: linear-gradient(79.28deg, #ad6ed3 25.33%, #efa1c3 82.39%);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);

    @include max1600 {
      width: 210px;
      height: 210px;
    }

    @include max1366 {
      width: 100px;
      height: 100px;
      top: 145px;
    }
  }
  .contacts__bg--second{
    width: 175px;
    height: 175px;
    position: absolute;
    border-radius: 50%;
    right: 257px;
    bottom: 104px;
    background: linear-gradient(
      79.28deg,
      rgba(173, 110, 211, 0.4) 25.33%,
      rgba(239, 161, 195, 0.4) 82.39%
    );
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);

    @include max1600 {
      width: 85px;
      height: 85px;
      right: 157px;
    }

    @include max1366 {
      width: 45px;
      height: 45px;
      right: 57px;
      bottom: 160px;
    }
  }

  @include max768 {
    display: none;
  }

}

.contacts__img{
  transition: 0.3s;
  transform: scale(1);
  @include min1024 {
    &:hover{
      transform: scale(1.1);
    }
  }
}

.map{
  overflow: hidden;
  &__block{
    height: 100%;
    transition: 0.3s;
    @include min1024 {
      &:hover{
        transform: scale(1.1);
      }
    }
  }
}
