<div class="swiper-slide slider-card__card card-main">
  <div class="card-main__body">
    <div class="card-main__card">
      <div class="card-main__inner">
        <div class="card-main__block">
          <div class="card-main__head">
            <a href="#" class="card-main__info card-main__info_left">ХИТ</a>
            <a href="#" class="card-main__info card-main__info_right">СКИДКА</a>
          </div>
          <div class="card-main__block-btn">
            <button class="card-main__favorites">
              <span>
                <svg class="card-main__icon">
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </span>

            </button>
          </div>

          <picture class="card-main__img">
            <source srcset="img/card-img.webp" type="image/webp">
            <img loading="lazy" src="img/card-img.jpg" class="image" alt="img">
          </picture>
        </div>

        <div class="card-main__wrap-block">
          <div class="card-main__name">
            Мягкая игрушка “Gravity Falls” Билл Шифр
          </div>

          <div class="card-main__price-top">
            50 ₽
          </div>
        </div>

        <div class="card-main__bottom">
          <div class="card-main__price price-card">
            <div class="price-card__inner">
              <div class="price-card__item">
                <div class="price-card__sum">50 ₽</div>
                <div class="price-card__quantity">1-20 шт</div>
              </div>

              <div class="price-card__item">
                <div class="price-card__sum">35 ₽</div>
                <div class="price-card__quantity">21-98 шт</div>
              </div>

              <div class="price-card__item">
                <div class="price-card__sum">25 ₽</div>
                <div class="price-card__quantity">99-999 шт</div>
              </div>
            </div>
          </div>

          <button class="card-main__button_card"><span>В корзину</span></button>
        </div>

      </div>


    </div>
  </div>
</div>


<div class="swiper-slide slider-card__card card-main">
  <div class="card-main__body">
    <div class="card-main__card">
      <div class="card-main__inner">
        <div class="card-main__block">
          <div class="card-main__head">
            <a href="#" class="card-main__info card-main__info_left">ХИТ</a>
            <a href="#" class="card-main__info card-main__info_right">СКИДКА</a>
          </div>
          <div class="card-main__block-btn">
            <button class="card-main__favorites">
              <span>
                <svg class="card-main__icon">
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </span>

            </button>
          </div>

          <picture class="card-main__img">
            <source srcset="img/card-img.webp" type="image/webp">
            <img loading="lazy" src="img/card-img.jpg" class="image" alt="img">
          </picture>
        </div>

        <div class="card-main__wrap-block">
          <div class="card-main__name">
            Мягкая игрушка “Gravity Falls” Билл Шифр
          </div>

          <div class="card-main__price-top">
            50 ₽
          </div>
        </div>

        <div class="card-main__bottom">
          <div class="card-main__price price-card">
            <div class="price-card__inner">
              <div class="price-card__item">
                <div class="price-card__sum">50 ₽</div>
                <div class="price-card__quantity">1-20 шт</div>
              </div>

              <div class="price-card__item">
                <div class="price-card__sum">35 ₽</div>
                <div class="price-card__quantity">21-98 шт</div>
              </div>

              <div class="price-card__item">
                <div class="price-card__sum">25 ₽</div>
                <div class="price-card__quantity">99-999 шт</div>
              </div>
            </div>
          </div>

          <button class="card-main__button_card"><span>В корзину</span></button>
        </div>

      </div>


    </div>
  </div>
</div>

<div class="swiper-slide slider-card__card card-main">
  <div class="card-main__body">
    <div class="card-main__card">
      <div class="card-main__inner">
        <div class="card-main__block">
          <div class="card-main__head">
            <a href="#" class="card-main__info card-main__info_left">ХИТ</a>
            <a href="#" class="card-main__info card-main__info_right">СКИДКА</a>
          </div>
          <div class="card-main__block-btn">
            <button class="card-main__favorites">
              <span>
                <svg class="card-main__icon">
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </span>

            </button>
          </div>

          <picture class="card-main__img">
            <source srcset="img/card-img.webp" type="image/webp">
            <img loading="lazy" src="img/card-img.jpg" class="image" alt="img">
          </picture>
        </div>

        <div class="card-main__wrap-block">
          <div class="card-main__name">
            Мягкая игрушка “Gravity Falls” Билл Шифр
          </div>

          <div class="card-main__price-top">
            50 ₽
          </div>
        </div>

        <div class="card-main__bottom">
          <div class="card-main__price price-card">
            <div class="price-card__inner">
              <div class="price-card__item">
                <div class="price-card__sum">50 ₽</div>
                <div class="price-card__quantity">1-20 шт</div>
              </div>

              <div class="price-card__item">
                <div class="price-card__sum">35 ₽</div>
                <div class="price-card__quantity">21-98 шт</div>
              </div>

              <div class="price-card__item">
                <div class="price-card__sum">25 ₽</div>
                <div class="price-card__quantity">99-999 шт</div>
              </div>
            </div>
          </div>

          <button class="card-main__button_card"><span>В корзину</span></button>
        </div>

      </div>


    </div>
  </div>
</div>

<div class="swiper-slide slider-card__card card-main">
  <div class="card-main__body">
    <div class="card-main__card">
      <div class="card-main__inner">
        <div class="card-main__block">
          <div class="card-main__head">
            <a href="#" class="card-main__info card-main__info_left">ХИТ</a>
            <a href="#" class="card-main__info card-main__info_right">СКИДКА</a>
          </div>
          <div class="card-main__block-btn">
            <button class="card-main__favorites">
              <span>
                <svg class="card-main__icon">
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </span>

            </button>
          </div>

          <picture class="card-main__img">
            <source srcset="img/card-img.webp" type="image/webp">
            <img loading="lazy" src="img/card-img.jpg" class="image" alt="img">
          </picture>
        </div>

        <div class="card-main__wrap-block">
          <div class="card-main__name">
            Мягкая игрушка “Gravity Falls” Билл Шифр
          </div>

          <div class="card-main__price-top">
            50 ₽
          </div>
        </div>

        <div class="card-main__bottom">
          <div class="card-main__price price-card">
            <div class="price-card__inner">
              <div class="price-card__item">
                <div class="price-card__sum">50 ₽</div>
                <div class="price-card__quantity">1-20 шт</div>
              </div>

              <div class="price-card__item">
                <div class="price-card__sum">35 ₽</div>
                <div class="price-card__quantity">21-98 шт</div>
              </div>

              <div class="price-card__item">
                <div class="price-card__sum">25 ₽</div>
                <div class="price-card__quantity">99-999 шт</div>
              </div>
            </div>
          </div>

          <button class="card-main__button_card"><span>В корзину</span></button>
        </div>

      </div>


    </div>
  </div>
</div>

<div class="swiper-slide slider-card__card card-main">
  <div class="card-main__body">
    <div class="card-main__card">
      <div class="card-main__inner">
        <div class="card-main__block">
          <div class="card-main__head">
            <a href="#" class="card-main__info card-main__info_left">ХИТ</a>
            <a href="#" class="card-main__info card-main__info_right">СКИДКА</a>
          </div>
          <div class="card-main__block-btn">
            <button class="card-main__favorites">
              <span>
                <svg class="card-main__icon">
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </span>

            </button>
          </div>

          <picture class="card-main__img">
            <source srcset="img/card-img.webp" type="image/webp">
            <img loading="lazy" src="img/card-img.jpg" class="image" alt="img">
          </picture>
        </div>

        <div class="card-main__wrap-block">
          <div class="card-main__name">
            Мягкая игрушка “Gravity Falls” Билл Шифр
          </div>

          <div class="card-main__price-top">
            50 ₽
          </div>
        </div>

        <div class="card-main__bottom">
          <div class="card-main__price price-card">
            <div class="price-card__inner">
              <div class="price-card__item">
                <div class="price-card__sum">50 ₽</div>
                <div class="price-card__quantity">1-20 шт</div>
              </div>

              <div class="price-card__item">
                <div class="price-card__sum">35 ₽</div>
                <div class="price-card__quantity">21-98 шт</div>
              </div>

              <div class="price-card__item">
                <div class="price-card__sum">25 ₽</div>
                <div class="price-card__quantity">99-999 шт</div>
              </div>
            </div>
          </div>

          <button class="card-main__button_card"><span>В корзину</span></button>
        </div>

      </div>


    </div>
  </div>
</div>

<div class="swiper-slide slider-card__card card-main">
  <div class="card-main__body">
    <div class="card-main__card">
      <div class="card-main__inner">
        <div class="card-main__block">
          <div class="card-main__head">
            <a href="#" class="card-main__info card-main__info_left">ХИТ</a>
            <a href="#" class="card-main__info card-main__info_right">СКИДКА</a>
          </div>
          <div class="card-main__block-btn">
            <button class="card-main__favorites">
              <span>
                <svg class="card-main__icon">
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </span>

            </button>
          </div>

          <picture class="card-main__img">
            <source srcset="img/card-img.webp" type="image/webp">
            <img loading="lazy" src="img/card-img.jpg" class="image" alt="img">
          </picture>
        </div>

        <div class="card-main__wrap-block">
          <div class="card-main__name">
            Мягкая игрушка “Gravity Falls” Билл Шифр
          </div>

          <div class="card-main__price-top">
            50 ₽
          </div>
        </div>

        <div class="card-main__bottom">
          <div class="card-main__price price-card">
            <div class="price-card__inner">
              <div class="price-card__item">
                <div class="price-card__sum">50 ₽</div>
                <div class="price-card__quantity">1-20 шт</div>
              </div>

              <div class="price-card__item">
                <div class="price-card__sum">35 ₽</div>
                <div class="price-card__quantity">21-98 шт</div>
              </div>

              <div class="price-card__item">
                <div class="price-card__sum">25 ₽</div>
                <div class="price-card__quantity">99-999 шт</div>
              </div>
            </div>
          </div>

          <button class="card-main__button_card"><span>В корзину</span></button>
        </div>

      </div>


    </div>
  </div>
</div>

<div class="swiper-slide slider-card__card card-main">
  <div class="card-main__body">
    <div class="card-main__card">
      <div class="card-main__inner">
        <div class="card-main__block">
          <div class="card-main__head">
            <a href="#" class="card-main__info card-main__info_left">ХИТ</a>
            <a href="#" class="card-main__info card-main__info_right">СКИДКА</a>
          </div>
          <div class="card-main__block-btn">
            <button class="card-main__favorites">
              <span>
                <svg class="card-main__icon">
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </span>

            </button>
          </div>

          <picture class="card-main__img">
            <source srcset="img/card-img.webp" type="image/webp">
            <img loading="lazy" src="img/card-img.jpg" class="image" alt="img">
          </picture>
        </div>

        <div class="card-main__wrap-block">
          <div class="card-main__name">
            Мягкая игрушка “Gravity Falls” Билл Шифр
          </div>

          <div class="card-main__price-top">
            50 ₽
          </div>
        </div>

        <div class="card-main__bottom">
          <div class="card-main__price price-card">
            <div class="price-card__inner">
              <div class="price-card__item">
                <div class="price-card__sum">50 ₽</div>
                <div class="price-card__quantity">1-20 шт</div>
              </div>

              <div class="price-card__item">
                <div class="price-card__sum">35 ₽</div>
                <div class="price-card__quantity">21-98 шт</div>
              </div>

              <div class="price-card__item">
                <div class="price-card__sum">25 ₽</div>
                <div class="price-card__quantity">99-999 шт</div>
              </div>
            </div>
          </div>

          <button class="card-main__button_card"><span>В корзину</span></button>
        </div>

      </div>


    </div>
  </div>
</div>


<div class="swiper-slide slider-card__card card-main">
  <div class="card-main__body">
    <div class="card-main__card">
      <div class="card-main__inner">
        <div class="card-main__block">
          <div class="card-main__head">
            <a href="#" class="card-main__info card-main__info_left">ХИТ</a>
            <a href="#" class="card-main__info card-main__info_right">СКИДКА</a>
          </div>
          <div class="card-main__block-btn">
            <button class="card-main__favorites">
              <span>
                <svg class="card-main__icon">
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </span>

            </button>
          </div>

          <picture class="card-main__img">
            <source srcset="img/card-img.webp" type="image/webp">
            <img loading="lazy" src="img/card-img.jpg" class="image" alt="img">
          </picture>
        </div>

        <div class="card-main__wrap-block">
          <div class="card-main__name">
            Мягкая игрушка “Gravity Falls” Билл Шифр
          </div>

          <div class="card-main__price-top">
            50 ₽
          </div>
        </div>

        <div class="card-main__bottom">
          <div class="card-main__price price-card">
            <div class="price-card__inner">
              <div class="price-card__item">
                <div class="price-card__sum">50 ₽</div>
                <div class="price-card__quantity">1-20 шт</div>
              </div>

              <div class="price-card__item">
                <div class="price-card__sum">35 ₽</div>
                <div class="price-card__quantity">21-98 шт</div>
              </div>

              <div class="price-card__item">
                <div class="price-card__sum">25 ₽</div>
                <div class="price-card__quantity">99-999 шт</div>
              </div>
            </div>
          </div>

          <button class="card-main__button_card"><span>В корзину</span></button>
        </div>

      </div>


    </div>
  </div>
</div>

<div class="swiper-slide slider-card__card card-main">
  <div class="card-main__body">
    <div class="card-main__card">
      <div class="card-main__inner">
        <div class="card-main__block">
          <div class="card-main__head">
            <a href="#" class="card-main__info card-main__info_left">ХИТ</a>
            <a href="#" class="card-main__info card-main__info_right">СКИДКА</a>
          </div>
          <div class="card-main__block-btn">
            <button class="card-main__favorites">
              <span>
                <svg class="card-main__icon">
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </span>

            </button>
          </div>

          <picture class="card-main__img">
            <source srcset="img/card-img.webp" type="image/webp">
            <img loading="lazy" src="img/card-img.jpg" class="image" alt="img">
          </picture>
        </div>

        <div class="card-main__wrap-block">
          <div class="card-main__name">
            Мягкая игрушка “Gravity Falls” Билл Шифр
          </div>

          <div class="card-main__price-top">
            50 ₽
          </div>
        </div>

        <div class="card-main__bottom">
          <div class="card-main__price price-card">
            <div class="price-card__inner">
              <div class="price-card__item">
                <div class="price-card__sum">50 ₽</div>
                <div class="price-card__quantity">1-20 шт</div>
              </div>

              <div class="price-card__item">
                <div class="price-card__sum">35 ₽</div>
                <div class="price-card__quantity">21-98 шт</div>
              </div>

              <div class="price-card__item">
                <div class="price-card__sum">25 ₽</div>
                <div class="price-card__quantity">99-999 шт</div>
              </div>
            </div>
          </div>

          <button class="card-main__button_card"><span>В корзину</span></button>
        </div>

      </div>


    </div>
  </div>
</div>

<div class="swiper-slide slider-card__card card-main">
  <div class="card-main__body">
    <div class="card-main__card">
      <div class="card-main__inner">
        <div class="card-main__block">
          <div class="card-main__head">
            <a href="#" class="card-main__info card-main__info_left">ХИТ</a>
            <a href="#" class="card-main__info card-main__info_right">СКИДКА</a>
          </div>
          <div class="card-main__block-btn">
            <button class="card-main__favorites">
              <span>
                <svg class="card-main__icon">
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </span>

            </button>
          </div>

          <picture class="card-main__img">
            <source srcset="img/card-img.webp" type="image/webp">
            <img loading="lazy" src="img/card-img.jpg" class="image" alt="img">
          </picture>
        </div>

        <div class="card-main__wrap-block">
          <div class="card-main__name">
            Мягкая игрушка “Gravity Falls” Билл Шифр
          </div>

          <div class="card-main__price-top">
            50 ₽
          </div>
        </div>

        <div class="card-main__bottom">
          <div class="card-main__price price-card">
            <div class="price-card__inner">
              <div class="price-card__item">
                <div class="price-card__sum">50 ₽</div>
                <div class="price-card__quantity">1-20 шт</div>
              </div>

              <div class="price-card__item">
                <div class="price-card__sum">35 ₽</div>
                <div class="price-card__quantity">21-98 шт</div>
              </div>

              <div class="price-card__item">
                <div class="price-card__sum">25 ₽</div>
                <div class="price-card__quantity">99-999 шт</div>
              </div>
            </div>
          </div>

          <button class="card-main__button_card"><span>В корзину</span></button>
        </div>

      </div>


    </div>
  </div>
</div>

<div class="swiper-slide slider-card__card card-main">
  <div class="card-main__body">
    <div class="card-main__card">
      <div class="card-main__inner">
        <div class="card-main__block">
          <div class="card-main__head">
            <a href="#" class="card-main__info card-main__info_left">ХИТ</a>
            <a href="#" class="card-main__info card-main__info_right">СКИДКА</a>
          </div>
          <div class="card-main__block-btn">
            <button class="card-main__favorites">
              <span>
                <svg class="card-main__icon">
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </span>

            </button>
          </div>

          <picture class="card-main__img">
            <source srcset="img/card-img.webp" type="image/webp">
            <img loading="lazy" src="img/card-img.jpg" class="image" alt="img">
          </picture>
        </div>

        <div class="card-main__wrap-block">
          <div class="card-main__name">
            Мягкая игрушка “Gravity Falls” Билл Шифр
          </div>

          <div class="card-main__price-top">
            50 ₽
          </div>
        </div>

        <div class="card-main__bottom">
          <div class="card-main__price price-card">
            <div class="price-card__inner">
              <div class="price-card__item">
                <div class="price-card__sum">50 ₽</div>
                <div class="price-card__quantity">1-20 шт</div>
              </div>

              <div class="price-card__item">
                <div class="price-card__sum">35 ₽</div>
                <div class="price-card__quantity">21-98 шт</div>
              </div>

              <div class="price-card__item">
                <div class="price-card__sum">25 ₽</div>
                <div class="price-card__quantity">99-999 шт</div>
              </div>
            </div>
          </div>

          <button class="card-main__button_card"><span>В корзину</span></button>
        </div>

      </div>


    </div>
  </div>
</div>

<div class="swiper-slide slider-card__card card-main">
  <div class="card-main__body">
    <div class="card-main__card">
      <div class="card-main__inner">
        <div class="card-main__block">
          <div class="card-main__head">
            <a href="#" class="card-main__info card-main__info_left">ХИТ</a>
            <a href="#" class="card-main__info card-main__info_right">СКИДКА</a>
          </div>
          <div class="card-main__block-btn">
            <button class="card-main__favorites">
              <span>
                <svg class="card-main__icon">
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </span>

            </button>
          </div>

          <picture class="card-main__img">
            <source srcset="img/card-img.webp" type="image/webp">
            <img loading="lazy" src="img/card-img.jpg" class="image" alt="img">
          </picture>
        </div>

        <div class="card-main__wrap-block">
          <div class="card-main__name">
            Мягкая игрушка “Gravity Falls” Билл Шифр
          </div>

          <div class="card-main__price-top">
            50 ₽
          </div>
        </div>

        <div class="card-main__bottom">
          <div class="card-main__price price-card">
            <div class="price-card__inner">
              <div class="price-card__item">
                <div class="price-card__sum">50 ₽</div>
                <div class="price-card__quantity">1-20 шт</div>
              </div>

              <div class="price-card__item">
                <div class="price-card__sum">35 ₽</div>
                <div class="price-card__quantity">21-98 шт</div>
              </div>

              <div class="price-card__item">
                <div class="price-card__sum">25 ₽</div>
                <div class="price-card__quantity">99-999 шт</div>
              </div>
            </div>
          </div>

          <button class="card-main__button_card"><span>В корзину</span></button>
        </div>

      </div>


    </div>
  </div>
</div>

<div class="swiper-slide slider-card__card card-main">
  <div class="card-main__body">
    <div class="card-main__card">
      <div class="card-main__inner">
        <div class="card-main__block">
          <div class="card-main__head">
            <a href="#" class="card-main__info card-main__info_left">ХИТ</a>
            <a href="#" class="card-main__info card-main__info_right">СКИДКА</a>
          </div>
          <div class="card-main__block-btn">
            <button class="card-main__favorites">
              <span>
                <svg class="card-main__icon">
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </span>

            </button>
          </div>

          <picture class="card-main__img">
            <source srcset="img/card-img.webp" type="image/webp">
            <img loading="lazy" src="img/card-img.jpg" class="image" alt="img">
          </picture>
        </div>

        <div class="card-main__wrap-block">
          <div class="card-main__name">
            Мягкая игрушка “Gravity Falls” Билл Шифр
          </div>

          <div class="card-main__price-top">
            50 ₽
          </div>
        </div>

        <div class="card-main__bottom">
          <div class="card-main__price price-card">
            <div class="price-card__inner">
              <div class="price-card__item">
                <div class="price-card__sum">50 ₽</div>
                <div class="price-card__quantity">1-20 шт</div>
              </div>

              <div class="price-card__item">
                <div class="price-card__sum">35 ₽</div>
                <div class="price-card__quantity">21-98 шт</div>
              </div>

              <div class="price-card__item">
                <div class="price-card__sum">25 ₽</div>
                <div class="price-card__quantity">99-999 шт</div>
              </div>
            </div>
          </div>

          <button class="card-main__button_card"><span>В корзину</span></button>
        </div>

      </div>


    </div>
  </div>
</div>

<div class="swiper-slide slider-card__card card-main">
  <div class="card-main__body">
    <div class="card-main__card">
      <div class="card-main__inner">
        <div class="card-main__block">
          <div class="card-main__head">
            <a href="#" class="card-main__info card-main__info_left">ХИТ</a>
            <a href="#" class="card-main__info card-main__info_right">СКИДКА</a>
          </div>
          <div class="card-main__block-btn">
            <button class="card-main__favorites">
              <span>
                <svg class="card-main__icon">
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </span>

            </button>
          </div>

          <picture class="card-main__img">
            <source srcset="img/card-img.webp" type="image/webp">
            <img loading="lazy" src="img/card-img.jpg" class="image" alt="img">
          </picture>
        </div>

        <div class="card-main__wrap-block">
          <div class="card-main__name">
            Мягкая игрушка “Gravity Falls” Билл Шифр
          </div>

          <div class="card-main__price-top">
            50 ₽
          </div>
        </div>

        <div class="card-main__bottom">
          <div class="card-main__price price-card">
            <div class="price-card__inner">
              <div class="price-card__item">
                <div class="price-card__sum">50 ₽</div>
                <div class="price-card__quantity">1-20 шт</div>
              </div>

              <div class="price-card__item">
                <div class="price-card__sum">35 ₽</div>
                <div class="price-card__quantity">21-98 шт</div>
              </div>

              <div class="price-card__item">
                <div class="price-card__sum">25 ₽</div>
                <div class="price-card__quantity">99-999 шт</div>
              </div>
            </div>
          </div>

          <button class="card-main__button_card"><span>В корзину</span></button>
        </div>

      </div>


    </div>
  </div>
</div>

<div class="swiper-slide slider-card__card card-main">
  <div class="card-main__body">
    <div class="card-main__card">
      <div class="card-main__inner">
        <div class="card-main__block">
          <div class="card-main__head">
            <a href="#" class="card-main__info card-main__info_left">ХИТ</a>
            <a href="#" class="card-main__info card-main__info_right">СКИДКА</a>
          </div>
          <div class="card-main__block-btn">
            <button class="card-main__favorites">
              <span>
                <svg class="card-main__icon">
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </span>

            </button>
          </div>

          <picture class="card-main__img">
            <source srcset="img/card-img.webp" type="image/webp">
            <img loading="lazy" src="img/card-img.jpg" class="image" alt="img">
          </picture>
        </div>

        <div class="card-main__wrap-block">
          <div class="card-main__name">
            Мягкая игрушка “Gravity Falls” Билл Шифр
          </div>

          <div class="card-main__price-top">
            50 ₽
          </div>
        </div>

        <div class="card-main__bottom">
          <div class="card-main__price price-card">
            <div class="price-card__inner">
              <div class="price-card__item">
                <div class="price-card__sum">50 ₽</div>
                <div class="price-card__quantity">1-20 шт</div>
              </div>

              <div class="price-card__item">
                <div class="price-card__sum">35 ₽</div>
                <div class="price-card__quantity">21-98 шт</div>
              </div>

              <div class="price-card__item">
                <div class="price-card__sum">25 ₽</div>
                <div class="price-card__quantity">99-999 шт</div>
              </div>
            </div>
          </div>

          <button class="card-main__button_card"><span>В корзину</span></button>
        </div>

      </div>


    </div>
  </div>
</div>

<div class="swiper-slide slider-card__card card-main">
  <div class="card-main__body">
    <div class="card-main__card">
      <div class="card-main__inner">
        <div class="card-main__block">
          <div class="card-main__head">
            <a href="#" class="card-main__info card-main__info_left">ХИТ</a>
            <a href="#" class="card-main__info card-main__info_right">СКИДКА</a>
          </div>
          <div class="card-main__block-btn">
            <button class="card-main__favorites">
              <span>
                <svg class="card-main__icon">
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </span>

            </button>
          </div>

          <picture class="card-main__img">
            <source srcset="img/card-img.webp" type="image/webp">
            <img loading="lazy" src="img/card-img.jpg" class="image" alt="img">
          </picture>
        </div>

        <div class="card-main__wrap-block">
          <div class="card-main__name">
            Мягкая игрушка “Gravity Falls” Билл Шифр
          </div>

          <div class="card-main__price-top">
            50 ₽
          </div>
        </div>

        <div class="card-main__bottom">
          <div class="card-main__price price-card">
            <div class="price-card__inner">
              <div class="price-card__item">
                <div class="price-card__sum">50 ₽</div>
                <div class="price-card__quantity">1-20 шт</div>
              </div>

              <div class="price-card__item">
                <div class="price-card__sum">35 ₽</div>
                <div class="price-card__quantity">21-98 шт</div>
              </div>

              <div class="price-card__item">
                <div class="price-card__sum">25 ₽</div>
                <div class="price-card__quantity">99-999 шт</div>
              </div>
            </div>
          </div>

          <button class="card-main__button_card"><span>В корзину</span></button>
        </div>

      </div>


    </div>
  </div>
</div>
