<!-- Questions -->
<div class="questions">
  <div class="questions__inner">
    <h2 class="questions__title title title_big">FAQ</h2>
  </div>

  <ul class="questions__dropdown dropdown-questions">
    <li class="dropdown-questions__wrap">
      <div class="dropdown-questions__header accordion-start-js">
        <span class="dropdown-questions__name"
          >Как я могу оплатить товары?</span
        >
        <svg class="dropdown-questions__icon">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </div>

      <div class="dropdown-questions__content accordion-content-js">
        Наша команда состоит только из настоящих знатоков своего дела. Вы всегда
        сможете обратиться к нам, чтобы получить совет, рекомендацию, да и
        просто, чтобы поднять настроение. Наша команда состоит только из
        настоящих знатоков своего дела. Вы всегда сможете обратиться к нам,
        чтобы получить совет, рекомендацию, да и просто, чтобы поднять
        настроение. Наша команда состоит только из настоящих знатоков своего
        дела. Вы всегда сможете обратиться к нам, чтобы получить совет,
        рекомендацию, да и просто, чтобы поднять настроение.
      </div>
    </li>

    <li class="dropdown-questions__wrap">
      <div class="dropdown-questions__header accordion-start-js">
        <span class="dropdown-questions__name">Какие у меня гарантии?</span>
        <svg class="dropdown-questions__icon">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </div>

      <div class="dropdown-questions__content accordion-content-js">
        Наша команда состоит только из настоящих знатоков своего дела. Вы всегда
        сможете обратиться к нам, чтобы получить совет, рекомендацию, да и
        просто, чтобы поднять настроение. Наша команда состоит только из
        настоящих знатоков своего дела. Вы всегда сможете обратиться к нам,
        чтобы получить совет, рекомендацию, да и просто, чтобы поднять
        настроение. Наша команда состоит только из настоящих знатоков своего
        дела. Вы всегда сможете обратиться к нам, чтобы получить совет,
        рекомендацию, да и просто, чтобы поднять настроение.
      </div>
    </li>

    <li class="dropdown-questions__wrap">
      <div class="dropdown-questions__header accordion-start-js">
        <span class="dropdown-questions__name">Как работает доставка?</span>
        <svg class="dropdown-questions__icon">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </div>

      <div class="dropdown-questions__content accordion-content-js">
        Наша команда состоит только из настоящих знатоков своего дела. Вы всегда
        сможете обратиться к нам, чтобы получить совет, рекомендацию, да и
        просто, чтобы поднять настроение. Наша команда состоит только из
        настоящих знатоков своего дела. Вы всегда сможете обратиться к нам,
        чтобы получить совет, рекомендацию, да и просто, чтобы поднять
        настроение. Наша команда состоит только из настоящих знатоков своего
        дела. Вы всегда сможете обратиться к нам, чтобы получить совет,
        рекомендацию, да и просто, чтобы поднять настроение.
      </div>
    </li>

    <li class="dropdown-questions__wrap">
      <div class="dropdown-questions__header accordion-start-js">
        <span class="dropdown-questions__name">Могу ли я купить оптом?</span>
        <svg class="dropdown-questions__icon">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </div>

      <div class="dropdown-questions__content accordion-content-js">
        Наша команда состоит только из настоящих знатоков своего дела. Вы всегда
        сможете обратиться к нам, чтобы получить совет, рекомендацию, да и
        просто, чтобы поднять настроение. Наша команда состоит только из
        настоящих знатоков своего дела. Вы всегда сможете обратиться к нам,
        чтобы получить совет, рекомендацию, да и просто, чтобы поднять
        настроение. Наша команда состоит только из настоящих знатоков своего
        дела. Вы всегда сможете обратиться к нам, чтобы получить совет,
        рекомендацию, да и просто, чтобы поднять настроение.
      </div>
    </li>

    <li class="dropdown-questions__wrap">
      <div class="dropdown-questions__header accordion-start-js">
        <span class="dropdown-questions__name">Где находится магазин?</span>
        <svg class="dropdown-questions__icon">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </div>

      <div class="dropdown-questions__content accordion-content-js">
        Наша команда состоит только из настоящих знатоков своего дела. Вы всегда
        сможете обратиться к нам, чтобы получить совет, рекомендацию, да и
        просто, чтобы поднять настроение. Наша команда состоит только из
        настоящих знатоков своего дела. Вы всегда сможете обратиться к нам,
        чтобы получить совет, рекомендацию, да и просто, чтобы поднять
        настроение. Наша команда состоит только из настоящих знатоков своего
        дела. Вы всегда сможете обратиться к нам, чтобы получить совет,
        рекомендацию, да и просто, чтобы поднять настроение.
      </div>
    </li>
  </ul>
</div>
<!--End questions -->
