<div
class="swiper-slide card-main__slide slider-reviews__slide reviews-card"
>
<div class="reviews-card__inner">
  <div class="reviews-card__header text-container">
    <div class="reviews-card__image">
      <picture class="reviews-card__img">
        <source
          srcset="img/card-reviews.webp"
          type="image/webp"
        />
        <img
          loading="lazy"
          src="img/card-reviews.jpg"
          class="image"
          width=""
          height=""
          alt="foto"
        />
      </picture>
    </div>
    <div class="reviews-card__text">
      Заказывала пижаму кигуруми для крестницы.
      Во-первых, заказ сделала 26 декабря, а его уже
      доставили 31 декабря, не смотря на новогоднюю
      загруженность! Во-вторых, оперативно позвонили
      при заказе, грамотный оператор все подробно
      разьяснил. И в-третьих, качество пижамы
      отличное, как и было обозначено на сайте.
      Вообщем, спасибо огромное!!!
    </div>

  </div>
  <button class="text-btn btn-reset">Показать ещё</button>

  <div class="reviews-card__footer">
    <span class="reviews-card__date">
      19.03.2023 г.
    </span>
    <div class="reviews-card__block">
      <ul class="reviews-card__rating">
        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>
      </ul>

      <span class="reviews-card__name"> Мария </span>
    </div>
  </div>
</div>
</div>

<div
class="swiper-slide card-main__slide slider-reviews__slide reviews-card"
>
<div class="reviews-card__inner">
  <div class="reviews-card__header text-container">
    <div class="reviews-card__image">
      <picture class="reviews-card__img">
        <source
          srcset="img/card-reviews.webp"
          type="image/webp"
        />
        <img
          loading="lazy"
          src="img/card-reviews.jpg"
          class="image"
          width=""
          height=""
          alt="foto"
        />
      </picture>
    </div>
    <div class="reviews-card__text">
      Заказывала пижаму кигуруми для крестницы.
      Во-первых, заказ сделала 26 декабря, а его уже
      доставили 31 декабря, не смотря на новогоднюю
      загруженность! Во-вторых, оперативно позвонили
      при заказе, грамотный оператор все подробно
      разьяснил. И в-третьих, качество пижамы
      отличное, как и было обозначено на сайте.
      Вообщем, спасибо огромное!!!
    </div>

  </div>
  <button class="text-btn btn-reset">Показать ещё</button>

  <div class="reviews-card__footer">
    <span class="reviews-card__date">
      19.03.2023 г.
    </span>
    <div class="reviews-card__block">
      <ul class="reviews-card__rating">
        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>
      </ul>

      <span class="reviews-card__name"> Мария </span>
    </div>
  </div>
</div>
</div>

<div
class="swiper-slide card-main__slide slider-reviews__slide reviews-card"
>
<div class="reviews-card__inner">
  <div class="reviews-card__header text-container">
    <div class="reviews-card__image">
      <picture class="reviews-card__img">
        <source
          srcset="img/card-reviews.webp"
          type="image/webp"
        />
        <img
          loading="lazy"
          src="img/card-reviews.jpg"
          class="image"
          width=""
          height=""
          alt="foto"
        />
      </picture>
    </div>
    <div class="reviews-card__text">
      Заказывала пижаму кигуруми для крестницы.
      Во-первых, заказ сделала 26 декабря, а его уже
      доставили 31 декабря, не смотря на новогоднюю
      загруженность! Во-вторых, оперативно позвонили
      при заказе, грамотный оператор все подробно
      разьяснил. И в-третьих, качество пижамы
      отличное, как и было обозначено на сайте.
      Вообщем, спасибо огромное!!!
    </div>

  </div>
  <button class="text-btn btn-reset">Показать ещё</button>

  <div class="reviews-card__footer">
    <span class="reviews-card__date">
      19.03.2023 г.
    </span>
    <div class="reviews-card__block">
      <ul class="reviews-card__rating">
        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>
      </ul>

      <span class="reviews-card__name"> Мария </span>
    </div>
  </div>
</div>
</div>

<div
class="swiper-slide card-main__slide slider-reviews__slide reviews-card"
>
<div class="reviews-card__inner">
  <div class="reviews-card__header text-container">
    <div class="reviews-card__image">
      <picture class="reviews-card__img">
        <source
          srcset="img/card-reviews.webp"
          type="image/webp"
        />
        <img
          loading="lazy"
          src="img/card-reviews.jpg"
          class="image"
          width=""
          height=""
          alt="foto"
        />
      </picture>
    </div>
    <div class="reviews-card__text">
      Заказывала пижаму кигуруми для крестницы.
      Во-первых, заказ сделала 26 декабря, а его уже
      доставили 31 декабря, не смотря на новогоднюю
      загруженность! Во-вторых, оперативно позвонили
      при заказе, грамотный оператор все подробно
      разьяснил. И в-третьих, качество пижамы
      отличное, как и было обозначено на сайте.
      Вообщем, спасибо огромное!!!
    </div>

  </div>
  <button class="text-btn btn-reset">Показать ещё</button>

  <div class="reviews-card__footer">
    <span class="reviews-card__date">
      19.03.2023 г.
    </span>
    <div class="reviews-card__block">
      <ul class="reviews-card__rating">
        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>
      </ul>

      <span class="reviews-card__name"> Мария </span>
    </div>
  </div>
</div>
</div>

<div
class="swiper-slide card-main__slide slider-reviews__slide reviews-card"
>
<div class="reviews-card__inner">
  <div class="reviews-card__header text-container">
    <div class="reviews-card__image">
      <picture class="reviews-card__img">
        <source
          srcset="img/card-reviews.webp"
          type="image/webp"
        />
        <img
          loading="lazy"
          src="img/card-reviews.jpg"
          class="image"
          width=""
          height=""
          alt="foto"
        />
      </picture>
    </div>
    <div class="reviews-card__text">
      Заказывала пижаму кигуруми для крестницы.
      Во-первых, заказ сделала 26 декабря, а его уже
      доставили 31 декабря, не смотря на новогоднюю
      загруженность! Во-вторых, оперативно позвонили
      при заказе, грамотный оператор все подробно
      разьяснил. И в-третьих, качество пижамы
      отличное, как и было обозначено на сайте.
      Вообщем, спасибо огромное!!!
    </div>

  </div>
  <button class="text-btn btn-reset">Показать ещё</button>

  <div class="reviews-card__footer">
    <span class="reviews-card__date">
      19.03.2023 г.
    </span>
    <div class="reviews-card__block">
      <ul class="reviews-card__rating">
        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>
      </ul>

      <span class="reviews-card__name"> Мария </span>
    </div>
  </div>
</div>
</div>

<div
class="swiper-slide card-main__slide slider-reviews__slide reviews-card"
>
<div class="reviews-card__inner">
  <div class="reviews-card__header text-container">
    <div class="reviews-card__image">
      <picture class="reviews-card__img">
        <source
          srcset="img/card-reviews.webp"
          type="image/webp"
        />
        <img
          loading="lazy"
          src="img/card-reviews.jpg"
          class="image"
          width=""
          height=""
          alt="foto"
        />
      </picture>
    </div>
    <div class="reviews-card__text">
      Заказывала пижаму кигуруми для крестницы.
      Во-первых, заказ сделала 26 декабря, а его уже
      доставили 31 декабря, не смотря на новогоднюю
      загруженность! Во-вторых, оперативно позвонили
      при заказе, грамотный оператор все подробно
      разьяснил. И в-третьих, качество пижамы
      отличное, как и было обозначено на сайте.
      Вообщем, спасибо огромное!!!
    </div>

  </div>
  <button class="text-btn btn-reset">Показать ещё</button>

  <div class="reviews-card__footer">
    <span class="reviews-card__date">
      19.03.2023 г.
    </span>
    <div class="reviews-card__block">
      <ul class="reviews-card__rating">
        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>
      </ul>

      <span class="reviews-card__name"> Мария </span>
    </div>
  </div>
</div>
</div>

<div
class="swiper-slide card-main__slide slider-reviews__slide reviews-card"
>
<div class="reviews-card__inner">
  <div class="reviews-card__header text-container">
    <div class="reviews-card__image">
      <picture class="reviews-card__img">
        <source
          srcset="img/card-reviews.webp"
          type="image/webp"
        />
        <img
          loading="lazy"
          src="img/card-reviews.jpg"
          class="image"
          width=""
          height=""
          alt="foto"
        />
      </picture>
    </div>
    <div class="reviews-card__text">
      Заказывала пижаму кигуруми для крестницы.
      Во-первых, заказ сделала 26 декабря, а его уже
      доставили 31 декабря, не смотря на новогоднюю
      загруженность! Во-вторых, оперативно позвонили
      при заказе, грамотный оператор все подробно
      разьяснил. И в-третьих, качество пижамы
      отличное, как и было обозначено на сайте.
      Вообщем, спасибо огромное!!!
    </div>

  </div>
  <button class="text-btn btn-reset">Показать ещё</button>

  <div class="reviews-card__footer">
    <span class="reviews-card__date">
      19.03.2023 г.
    </span>
    <div class="reviews-card__block">
      <ul class="reviews-card__rating">
        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>
      </ul>

      <span class="reviews-card__name"> Мария </span>
    </div>
  </div>
</div>
</div>

<div
class="swiper-slide card-main__slide slider-reviews__slide reviews-card"
>
<div class="reviews-card__inner">
  <div class="reviews-card__header text-container">
    <div class="reviews-card__image">
      <picture class="reviews-card__img">
        <source
          srcset="img/card-reviews.webp"
          type="image/webp"
        />
        <img
          loading="lazy"
          src="img/card-reviews.jpg"
          class="image"
          width=""
          height=""
          alt="foto"
        />
      </picture>
    </div>
    <div class="reviews-card__text">
      Заказывала пижаму кигуруми для крестницы.
      Во-первых, заказ сделала 26 декабря, а его уже
      доставили 31 декабря, не смотря на новогоднюю
      загруженность! Во-вторых, оперативно позвонили
      при заказе, грамотный оператор все подробно
      разьяснил. И в-третьих, качество пижамы
      отличное, как и было обозначено на сайте.
      Вообщем, спасибо огромное!!!
    </div>

  </div>
  <button class="text-btn btn-reset">Показать ещё</button>

  <div class="reviews-card__footer">
    <span class="reviews-card__date">
      19.03.2023 г.
    </span>
    <div class="reviews-card__block">
      <ul class="reviews-card__rating">
        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>
      </ul>

      <span class="reviews-card__name"> Мария </span>
    </div>
  </div>
</div>
</div>

<div
class="swiper-slide card-main__slide slider-reviews__slide reviews-card"
>
<div class="reviews-card__inner">
  <div class="reviews-card__header text-container">
    <div class="reviews-card__image">
      <picture class="reviews-card__img">
        <source
          srcset="img/card-reviews.webp"
          type="image/webp"
        />
        <img
          loading="lazy"
          src="img/card-reviews.jpg"
          class="image"
          width=""
          height=""
          alt="foto"
        />
      </picture>
    </div>
    <div class="reviews-card__text">
      Заказывала пижаму кигуруми для крестницы.
      Во-первых, заказ сделала 26 декабря, а его уже
      доставили 31 декабря, не смотря на новогоднюю
      загруженность! Во-вторых, оперативно позвонили
      при заказе, грамотный оператор все подробно
      разьяснил. И в-третьих, качество пижамы
      отличное, как и было обозначено на сайте.
      Вообщем, спасибо огромное!!!
    </div>

  </div>
  <button class="text-btn btn-reset">Показать ещё</button>

  <div class="reviews-card__footer">
    <span class="reviews-card__date">
      19.03.2023 г.
    </span>
    <div class="reviews-card__block">
      <ul class="reviews-card__rating">
        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>
      </ul>

      <span class="reviews-card__name"> Мария </span>
    </div>
  </div>
</div>
</div>

<div
class="swiper-slide card-main__slide slider-reviews__slide reviews-card"
>
<div class="reviews-card__inner">
  <div class="reviews-card__header text-container">
    <div class="reviews-card__image">
      <picture class="reviews-card__img">
        <source
          srcset="img/card-reviews.webp"
          type="image/webp"
        />
        <img
          loading="lazy"
          src="img/card-reviews.jpg"
          class="image"
          width=""
          height=""
          alt="foto"
        />
      </picture>
    </div>
    <div class="reviews-card__text">
      Заказывала пижаму кигуруми для крестницы.
      Во-первых, заказ сделала 26 декабря, а его уже
      доставили 31 декабря, не смотря на новогоднюю
      загруженность! Во-вторых, оперативно позвонили
      при заказе, грамотный оператор все подробно
      разьяснил. И в-третьих, качество пижамы
      отличное, как и было обозначено на сайте.
      Вообщем, спасибо огромное!!!
    </div>

  </div>
  <button class="text-btn btn-reset">Показать ещё</button>

  <div class="reviews-card__footer">
    <span class="reviews-card__date">
      19.03.2023 г.
    </span>
    <div class="reviews-card__block">
      <ul class="reviews-card__rating">
        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>
      </ul>

      <span class="reviews-card__name"> Мария </span>
    </div>
  </div>
</div>
</div>

<div
class="swiper-slide card-main__slide slider-reviews__slide reviews-card"
>
<div class="reviews-card__inner">
  <div class="reviews-card__header text-container">
    <div class="reviews-card__image">
      <picture class="reviews-card__img">
        <source
          srcset="img/card-reviews.webp"
          type="image/webp"
        />
        <img
          loading="lazy"
          src="img/card-reviews.jpg"
          class="image"
          width=""
          height=""
          alt="foto"
        />
      </picture>
    </div>
    <div class="reviews-card__text">
      Заказывала пижаму кигуруми для крестницы.
      Во-первых, заказ сделала 26 декабря, а его уже
      доставили 31 декабря, не смотря на новогоднюю
      загруженность! Во-вторых, оперативно позвонили
      при заказе, грамотный оператор все подробно
      разьяснил. И в-третьих, качество пижамы
      отличное, как и было обозначено на сайте.
      Вообщем, спасибо огромное!!!
    </div>

  </div>
  <button class="text-btn btn-reset">Показать ещё</button>

  <div class="reviews-card__footer">
    <span class="reviews-card__date">
      19.03.2023 г.
    </span>
    <div class="reviews-card__block">
      <ul class="reviews-card__rating">
        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>
      </ul>

      <span class="reviews-card__name"> Мария </span>
    </div>
  </div>
</div>
</div>

<div
class="swiper-slide card-main__slide slider-reviews__slide reviews-card"
>
<div class="reviews-card__inner">
  <div class="reviews-card__header text-container">
    <div class="reviews-card__image">
      <picture class="reviews-card__img">
        <source
          srcset="img/card-reviews.webp"
          type="image/webp"
        />
        <img
          loading="lazy"
          src="img/card-reviews.jpg"
          class="image"
          width=""
          height=""
          alt="foto"
        />
      </picture>
    </div>
    <div class="reviews-card__text">
      Заказывала пижаму кигуруми для крестницы.
      Во-первых, заказ сделала 26 декабря, а его уже
      доставили 31 декабря, не смотря на новогоднюю
      загруженность! Во-вторых, оперативно позвонили
      при заказе, грамотный оператор все подробно
      разьяснил. И в-третьих, качество пижамы
      отличное, как и было обозначено на сайте.
      Вообщем, спасибо огромное!!!
    </div>

  </div>
  <button class="text-btn btn-reset">Показать ещё</button>

  <div class="reviews-card__footer">
    <span class="reviews-card__date">
      19.03.2023 г.
    </span>
    <div class="reviews-card__block">
      <ul class="reviews-card__rating">
        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>
      </ul>

      <span class="reviews-card__name"> Мария </span>
    </div>
  </div>
</div>
</div>

<div
class="swiper-slide card-main__slide slider-reviews__slide reviews-card"
>
<div class="reviews-card__inner">
  <div class="reviews-card__header text-container">
    <div class="reviews-card__image">
      <picture class="reviews-card__img">
        <source
          srcset="img/card-reviews.webp"
          type="image/webp"
        />
        <img
          loading="lazy"
          src="img/card-reviews.jpg"
          class="image"
          width=""
          height=""
          alt="foto"
        />
      </picture>
    </div>
    <div class="reviews-card__text">
      Заказывала пижаму кигуруми для крестницы.
      Во-первых, заказ сделала 26 декабря, а его уже
      доставили 31 декабря, не смотря на новогоднюю
      загруженность! Во-вторых, оперативно позвонили
      при заказе, грамотный оператор все подробно
      разьяснил. И в-третьих, качество пижамы
      отличное, как и было обозначено на сайте.
      Вообщем, спасибо огромное!!!
    </div>

  </div>
  <button class="text-btn btn-reset">Показать ещё</button>

  <div class="reviews-card__footer">
    <span class="reviews-card__date">
      19.03.2023 г.
    </span>
    <div class="reviews-card__block">
      <ul class="reviews-card__rating">
        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>
      </ul>

      <span class="reviews-card__name"> Мария </span>
    </div>
  </div>
</div>
</div>

<div
class="swiper-slide card-main__slide slider-reviews__slide reviews-card"
>
<div class="reviews-card__inner">
  <div class="reviews-card__header text-container">
    <div class="reviews-card__image">
      <picture class="reviews-card__img">
        <source
          srcset="img/card-reviews.webp"
          type="image/webp"
        />
        <img
          loading="lazy"
          src="img/card-reviews.jpg"
          class="image"
          width=""
          height=""
          alt="foto"
        />
      </picture>
    </div>
    <div class="reviews-card__text">
      Заказывала пижаму кигуруми для крестницы.
      Во-первых, заказ сделала 26 декабря, а его уже
      доставили 31 декабря, не смотря на новогоднюю
      загруженность! Во-вторых, оперативно позвонили
      при заказе, грамотный оператор все подробно
      разьяснил. И в-третьих, качество пижамы
      отличное, как и было обозначено на сайте.
      Вообщем, спасибо огромное!!!
    </div>

  </div>
  <button class="text-btn btn-reset">Показать ещё</button>

  <div class="reviews-card__footer">
    <span class="reviews-card__date">
      19.03.2023 г.
    </span>
    <div class="reviews-card__block">
      <ul class="reviews-card__rating">
        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>

        <li class="reviews-card__item">
          <img
            loading="lazy"
            src="img/on.svg"
            class="image"
            width=""
            height=""
            alt="star"
          />
        </li>
      </ul>

      <span class="reviews-card__name"> Мария </span>
    </div>
  </div>
</div>
</div>

