<footer class="footer">
  <div class="container">
    <ul class="footer__inner">
      <li class="footer__item">
        <div class="footer__name">Информация</div>
        <ul class="footer__list">
          <li class="footer__element">
            <a href="#" class="footer__link">Главная</a>
          </li>
          <li class="footer__element">
            <a href="#" class="footer__link">О проекте</a>
          </li>
          <li class="footer__element">
            <a href="#" class="footer__link">Доставка и оплата</a>
          </li>
          <li class="footer__element">
            <a href="#" class="footer__link">Отзывы</a>
          </li>
          <li class="footer__element">
            <a href="#" class="footer__link">Адрес магазина</a>
          </li>
        </ul>
      </li>

      <li class="footer__item">
        <div class="footer__name">Полезное</div>
        <ul class="footer__list">
          <li class="footer__element">
            <a href="#" class="footer__link">Вход в личный кабинет</a>
          </li>
          <li class="footer__element">
            <a href="#" class="footer__link">Оптовая закупка</a>
          </li>
          <li class="footer__element">
            <a href="#" class="footer__link">Новостная рассылка</a>
          </li>
        </ul>
      </li>

      <li class="footer__item">
        <div class="footer__name">Контакты</div>
        <ul class="footer__list">
          <li class="footer__element">
            <a href="tel:+79962828524" class="footer__link">
              <svg class="footer-icon">
                <use xlink:href="img/sprite.svg#telephone"></use>
              </svg>
              +7 (996) 282-85-24</a
            >
          </li>
          <li class="footer__element">
            <a href="#" class="footer__link">
              <svg class="footer-icon">
                <use xlink:href="img/sprite.svg#time"></use>
              </svg>
              Пн-Пт с 10:00-21:00</a
            >
          </li>
          <li class="footer__element">
            <a href="mailto:info@plushstory.ru" class="footer__link">
              <svg class="footer-icon">
                <use xlink:href="img/sprite.svg#mail"></use>
              </svg>
              info@plushstory.ru</a
            >
          </li>
        </ul>
      </li>

      <li class="footer__item">
        <div class="footer__name">Мессенджеры</div>
        <ul class="footer__list">
          <li class="footer__element">
            <a
              target="_blank"
              href="https://t.me/telegram"
              class="footer__link footer__link_border"
            >
              <svg class="footer-icon footer-icon_tel">
                <use xlink:href="img/sprite.svg#telegram"></use>
              </svg>
              <div class="footer__contain">
                <span>Присоединяйся</span>
                Telegram
              </div>
            </a>
          </li>
          <li class="footer__element">
            <a
              target="_blank"
              href="https://chat.whatsapp.com/testlink"
              class="footer__link footer__link_border"
            >
              <svg class="footer-icon footer-icon_tel">
                <use xlink:href="img/sprite.svg#whatsapp"></use>
              </svg>
              <div class="footer__contain">
                <span>Присоединяйся</span>
                WhatsApp
              </div>
            </a>
          </li>
        </ul>
      </li>

      <li class="footer__item">
        <div class="footer__name">Маркетплейсы</div>
        <ul class="footer__list ">
          <li class="footer__element">
            <a
              target="_blank"
              href="https://www.ozon.ru/"
              class="footer__link footer__link_border "
            >
              <img
                loading="lazy"
                src="img/ozon.png"
                class="footer__image "

                alt="PlushStory"
              />
              <div class="footer__contain ">
                <span>Купить на</span>
                Ozon
              </div>
            </a>
          </li>
          <li class="footer__element">
            <a
              target="_blank"
              href="https://www.wildberries.ru/"
              class="footer__link footer__link_border"
            >
              <img
                loading="lazy"
                src="img/wildberries.png"
                class="footer__image"

                alt="PlushStory"
              />
              <div class="footer__contain">
                <span>Купить на</span>
                Wildberries
              </div>
            </a>
          </li>
          <li class="footer__element">
            <a
              target="_blank"
              href="https://market.yandex.ru/"
              class="footer__link footer__link_border"
            >
              <img
                loading="lazy"
                src="img/yandex.png"
                class="footer__image "

                alt="PlushStory"
              />
              <div class="footer__contain">
                <span>Купить на</span>
                Яндекс Маркете
              </div>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="footer__bottom ">
    <div class="container">
      <div class="footer__copy">&copy; Plush Story - магазин современных подарков</div>
      <div class="footer__icons">
        <picture>
          <source srcset="img/footer-img.webp" type="image/webp">
          <img loading="lazy" src="img/footer-img.png" class="image" alt="img">
        </picture>
      </div>
      <a href="#" class="footer__politic">Политика конфиденциальности</a>
    </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/perfect-scrollbar@1.5.2/dist/perfect-scrollbar.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>-->


