<!-- Header -->
<header class="header-wrapper">
  <div class="header-location">
    <div class="container">
      <a href="#" class="header-location__inner">
        <svg class="header-location__icon">
          <use xlink:href="img/sprite.svg#location"></use>
        </svg>
        <p>Г. Москва</p>
      </a>
    </div>
  </div>

  <div class="header">
    <div class="container">
      <div class="header__content">
        <div class="header__menu">
          <button
            class="burger"
            aria-label="Открыть меню"
            aria-expanded="false"
            data-burger
          >
            <span class="burger__line"></span>
          </button>

          <nav class="nav-mobile" data-menu>
            <div class="nav-mobile__item" data-graph-path="cart-about-1">
              <svg class="nav-mobile__icon">
                <use xlink:href="img/sprite.svg#personal-area"></use>
              </svg>
              <span>Войти</span>
            </div>

            <div class="header__wrap scrollable-area">
              <ul class="header__list header__list_border-top">
                <li class="header__item header__item_name">
                  <span class="header__name active">Меню</span>
                </li>
                <li class="header__item">
                  <a class="header__link" href="#">Доставка и оплата</a>
                </li>
                <li class="header__item">
                  <a class="header__link" href="#">О компании</a>
                </li>
                <li class="header__item">
                  <a class="header__link" href="#">Отзывы</a>
                </li>
                <li class="header__item">
                  <a class="header__link" href="#">Контакты</a>
                </li>
              </ul>

              <ul class="header__list">
                <li class="header__item header__item_name">
                  <div class="header__name active">Каталог</div>
                </li>
                <li class="header__item">
                  <div class="header__btn accordion-start-js">
                    <span>Для дома</span>
                    <a href="#">Смотреть все</a>
                    <svg class="arrow-bottom">
                      <use xlink:href="img/sprite.svg#arrow-bottom"></use>
                    </svg>
                  </div>

                  <div class="header__accordion accordion-content-js">
                    <ul class="header__list">
                      <li class="header__item header__item--animation">
                        <a class="header__link" href="#"
                          >Аксессуары для интерьера</a
                        >
                      </li>
                      <li class="header__item header__item--animation">
                        <a class="header__link" href="#">Для кухни</a>
                      </li>
                      <li class="header__item header__item--animation">
                        <a class="header__link" href="#">Для отдыха</a>
                      </li>
                      <li class="header__item header__item--animation">
                        <a class="header__link" href="#">Пледы</a>
                      </li>
                      <li class="header__item header__item--animation">
                        <a class="header__link" href="#">Термосы</a>
                      </li>
                      <li class="header__item header__item--animation">
                        <a class="header__link" href="#"
                          >Товары для праздника</a
                        >
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="header__item">
                  <div class="header__btn accordion-start-js">
                    <span>Игрушки</span>
                    <a href="#">Смотреть все</a>
                    <svg class="arrow-bottom">
                      <use xlink:href="img/sprite.svg#arrow-bottom"></use>
                    </svg>
                  </div>

                  <div class="header__accordion accordion-content-js">
                    <ul class="header__list">
                      <li class="header__item">
                        <a class="header__link" href="#"
                          >Аксессуары для интерьера</a
                        >
                      </li>
                      <li class="header__item">
                        <a class="header__link" href="#">Для кухни</a>
                      </li>
                      <li class="header__item">
                        <a class="header__link" href="#">Для отдыха</a>
                      </li>
                      <li class="header__item">
                        <a class="header__link" href="#">Пледы</a>
                      </li>
                      <li class="header__item">
                        <a class="header__link" href="#">Термосы</a>
                      </li>
                      <li class="header__item">
                        <a class="header__link" href="#"
                          >Товары для праздника</a
                        >
                      </li>
                    </ul>
                  </div>
                </li>

                <li class="header__item">
                  <div class="header__btn accordion-start-js">
                    <span>Одежда</span>
                    <a href="#">Смотреть все</a>
                    <svg class="arrow-bottom">
                      <use xlink:href="img/sprite.svg#arrow-bottom"></use>
                    </svg>
                  </div>

                  <div class="header__accordion accordion-content-js">
                    <ul class="header__list">
                      <li class="header__item">
                        <a class="header__link" href="#"
                          >Аксессуары для интерьера</a
                        >
                      </li>
                      <li class="header__item">
                        <a class="header__link" href="#">Для кухни</a>
                      </li>
                      <li class="header__item">
                        <a class="header__link" href="#">Для отдыха</a>
                      </li>
                      <li class="header__item">
                        <a class="header__link" href="#">Пледы</a>
                      </li>
                      <li class="header__item">
                        <a class="header__link" href="#">Термосы</a>
                      </li>
                      <li class="header__item">
                        <a class="header__link" href="#"
                          >Товары для праздника</a
                        >
                      </li>
                    </ul>
                  </div>
                </li>

                <li class="header__item">
                  <div class="header__btn accordion-start-js">
                    <span>Канцелярия</span>
                    <a href="#">Смотреть все</a>
                    <svg class="arrow-bottom">
                      <use xlink:href="img/sprite.svg#arrow-bottom"></use>
                    </svg>
                  </div>

                  <div class="header__accordion accordion-content-js">
                    <ul class="header__list">
                      <li class="header__item">
                        <a class="header__link" href="#"
                          >Аксессуары для интерьера</a
                        >
                      </li>
                      <li class="header__item">
                        <a class="header__link" href="#">Для кухни</a>
                      </li>
                      <li class="header__item">
                        <a class="header__link" href="#">Для отдыха</a>
                      </li>
                      <li class="header__item">
                        <a class="header__link" href="#">Пледы</a>
                      </li>
                      <li class="header__item">
                        <a class="header__link" href="#">Термосы</a>
                      </li>
                      <li class="header__item">
                        <a class="header__link" href="#"
                          >Товары для праздника</a
                        >
                      </li>
                    </ul>
                  </div>
                </li>

                <li class="header__item">
                  <div class="header__btn accordion-start-js">
                    <span>Хобби и творчество</span>
                    <a href="#">Смотреть все</a>
                    <svg class="arrow-bottom">
                      <use xlink:href="img/sprite.svg#arrow-bottom"></use>
                    </svg>
                  </div>

                  <div class="header__accordion accordion-content-js">
                    <ul class="header__list">
                      <li class="header__item">
                        <a class="header__link" href="#"
                          >Аксессуары для интерьера</a
                        >
                      </li>
                      <li class="header__item">
                        <a class="header__link" href="#">Для кухни</a>
                      </li>
                      <li class="header__item">
                        <a class="header__link" href="#">Для отдыха</a>
                      </li>
                      <li class="header__item">
                        <a class="header__link" href="#">Пледы</a>
                      </li>
                      <li class="header__item">
                        <a class="header__link" href="#">Термосы</a>
                      </li>
                      <li class="header__item">
                        <a class="header__link" href="#"
                          >Товары для праздника</a
                        >
                      </li>
                    </ul>
                  </div>
                </li>

                <li class="header__item">
                  <div class="header__btn accordion-start-js">
                    <span>Подарки</span>
                    <a href="#">Смотреть все</a>
                    <svg class="arrow-bottom">
                      <use xlink:href="img/sprite.svg#arrow-bottom"></use>
                    </svg>
                  </div>

                  <div class="header__accordion accordion-content-js">
                    <ul class="header__list">
                      <li class="header__item">
                        <a class="header__link" href="#"
                          >Аксессуары для интерьера</a
                        >
                      </li>
                      <li class="header__item">
                        <a class="header__link" href="#">Для кухни</a>
                      </li>
                      <li class="header__item">
                        <a class="header__link" href="#">Для отдыха</a>
                      </li>
                      <li class="header__item">
                        <a class="header__link" href="#">Пледы</a>
                      </li>
                      <li class="header__item">
                        <a class="header__link" href="#">Термосы</a>
                      </li>
                      <li class="header__item">
                        <a class="header__link" href="#"
                          >Товары для праздника</a
                        >
                      </li>
                    </ul>
                  </div>
                </li>

                <li class="header__item">
                  <div class="header__btn accordion-start-js">
                    <span>Галантерея и украшения</span>
                    <a href="#">Смотреть все</a>
                    <svg class="arrow-bottom">
                      <use xlink:href="img/sprite.svg#arrow-bottom"></use>
                    </svg>
                  </div>

                  <div class="header__accordion accordion-content-js">
                    <ul class="header__list">
                      <li class="header__item">
                        <a class="header__link" href="#"
                          >Аксессуары для интерьера</a
                        >
                      </li>
                      <li class="header__item">
                        <a class="header__link" href="#">Для кухни</a>
                      </li>
                      <li class="header__item">
                        <a class="header__link" href="#">Для отдыха</a>
                      </li>
                      <li class="header__item">
                        <a class="header__link" href="#">Пледы</a>
                      </li>
                      <li class="header__item">
                        <a class="header__link" href="#">Термосы</a>
                      </li>
                      <li class="header__item">
                        <a class="header__link" href="#"
                          >Товары для праздника</a
                        >
                      </li>
                    </ul>
                  </div>
                </li>

              </ul>
            </div>
          </nav>
        </div>

        <a href="main.html" class="header__logo logo">
          <img
            loading="lazy"
            src="img/logo.svg"
            class="logo__image"
            alt="PlushStory"
          />
        </a>

        <div class="header__body">
          <ul class="header__list visible-links">
            <li class="header__item">
              <a class="header__link active" href="#">Главная</a>
            </li>
            <li class="header__item">
              <a class="header__link" href="#">Доставка и&nbsp;оплата</a>
            </li>
            <li class="header__item">
              <a class="header__link" href="#">О&nbsp;компании</a>
            </li>
            <li class="header__item">
              <a class="header__link" href="#">Отзывы</a>
            </li>
            <li class="header__item">
              <a class="header__link" href="#">Контакты</a>
            </li>
          </ul>
          <ul class='hidden-links hidden'></ul>
          <button class="nav-text"></button>
        </div>

        <nav class="header__nav nav">
          <ul class="nav__inner">
            <li class="nav__item nav__item_pc" >
              <button class="nav__user" data-graph-path="cart-about-1">
                <svg class="nav__icon">
                  <use xlink:href="img/sprite.svg#personal-area"></use>
                </svg>
              </button>

            </li>

            <li class="nav__item nav__item_mobi search-button">
              <svg class="nav__icon">
                <use xlink:href="img/sprite.svg#search-button"></use>
              </svg>
            </li>

            <li class="nav__item">
              <a class="nav__link" href="#">
                <span class="nav__num">7</span>
                <svg class="nav__icon nav__icon_rating nav__icon_favorites">
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </a>
            </li>

            <li class="nav__item">
              <a class="nav__link" href="#">
                <span class="nav__num">24</span>
                <svg class="nav__icon nav__icon_rating nav__icon_basket">
                  <use xlink:href="img/sprite.svg#basket"></use>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <!-- Search -->
  <div class="header-search search">
    <div class="container">
      <div class="search__inner">
        <div class="search__catalog catalog-search">
          <div class="catalog-search__button  accordion-start-js">
            <span class="catalog-search__wrap">
              <span class="catalog-search__line"> </span>
            </span>
            Каталог
          </div>
          <div class="catalog-search__body mouse-hover body-catalog">
            <ul class="body-catalog__items scrollable-area">
              <li class="body-catalog__item">
                <span class="body-catalog__button accordion-start-js--next">
                  Для дома
                  <svg class="arrow-mini">
                    <use xlink:href="img/sprite.svg#arrow-catalog"></use>
                  </svg>
                </span>
                <div class="body-catalog__wrap">
                  <div class="body-catalog__body">
                    <div class="body-catalog__top-wrap">
                      <span class="body-catalog__name">Для дома</span>
                      <a href="#" class="body-catalog__more">
                        <span>Смотреть все</span>
                        <svg class="">
                          <use xlink:href="img/sprite.svg#arrow-line"></use>
                        </svg>
                      </a>
                    </div>
                    <ul class="body-catalog__list">
                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Аксессуары для интерьера</a
                        >
                      </li>
                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для кухни</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для отдыха</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Аксессуары для интерьера</a
                        >
                      </li>
                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для кухни</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для отдыха</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Аксессуары для интерьера</a
                        >
                      </li>
                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для кухни</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для отдыха</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Пледы</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Термосы</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Товары для праздника</a
                        >
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Фонарики</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Шторы для ванной</a
                        >
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Декор и интерьер</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>

              </li>

              <li class="body-catalog__item">
                <span class="body-catalog__button accordion-start-js--next">
                  Игрушки
                  <svg class="arrow-mini">
                    <use xlink:href="img/sprite.svg#arrow-catalog"></use>
                  </svg>
                </span>
                <div class="body-catalog__wrap">
                  <div class="body-catalog__body">
                    <div class="body-catalog__top-wrap">
                      <span class="body-catalog__name">Игрушки</span>
                      <a href="#" class="body-catalog__more">
                        <span>Смотреть все</span>
                        <svg class="">
                          <use xlink:href="img/sprite.svg#arrow-line"></use>
                        </svg>
                      </a>
                    </div>
                    <ul class="body-catalog__list">
                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Аксессуары для интерьера</a
                        >
                      </li>
                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для кухни</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для отдыха</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Аксессуары для интерьера</a
                        >
                      </li>
                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для кухни</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для отдыха</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Аксессуары для интерьера</a
                        >
                      </li>
                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для кухни</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для отдыха</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Пледы</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Термосы</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Товары для праздника</a
                        >
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Фонарики</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Шторы для ванной</a
                        >
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Декор и интерьер</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </li>

              <li class="body-catalog__item">
                <span class="body-catalog__button accordion-start-js--next">
                  Одежда
                  <svg class="arrow-mini">
                    <use xlink:href="img/sprite.svg#arrow-catalog"></use>
                  </svg>
                </span>
                <div class="body-catalog__wrap">
                  <div class="body-catalog__body">
                    <div class="body-catalog__top-wrap">
                      <span class="body-catalog__name">Одежда</span>
                      <a href="#" class="body-catalog__more">
                        <span>Смотреть все</span>
                        <svg class="">
                          <use xlink:href="img/sprite.svg#arrow-line"></use>
                        </svg>
                      </a>
                    </div>
                    <ul class="body-catalog__list">
                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Аксессуары для интерьера</a
                        >
                      </li>
                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для кухни</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для отдыха</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Аксессуары для интерьера</a
                        >
                      </li>
                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для кухни</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для отдыха</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Аксессуары для интерьера</a
                        >
                      </li>
                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для кухни</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для отдыха</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Пледы</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Термосы</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Товары для праздника</a
                        >
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Фонарики</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Шторы для ванной</a
                        >
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Декор и интерьер</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </li>

              <li class="body-catalog__item">
                <span class="body-catalog__button accordion-start-js--next">
                  Канцелярия
                  <svg class="arrow-mini">
                    <use xlink:href="img/sprite.svg#arrow-catalog"></use>
                  </svg>
                </span>
                <div class="body-catalog__wrap">
                  <div class="body-catalog__body">
                    <div class="body-catalog__top-wrap">
                      <span class="body-catalog__name">Канцелярия</span>
                      <a href="#" class="body-catalog__more">
                        <span>Смотреть все</span>
                        <svg class="">
                          <use xlink:href="img/sprite.svg#arrow-line"></use>
                        </svg>
                      </a>
                    </div>
                    <ul class="body-catalog__list">
                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Аксессуары для интерьера</a
                        >
                      </li>
                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для кухни</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для отдыха</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Аксессуары для интерьера</a
                        >
                      </li>
                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для кухни</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для отдыха</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Аксессуары для интерьера</a
                        >
                      </li>
                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для кухни</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для отдыха</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Пледы</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Термосы</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Товары для праздника</a
                        >
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Фонарики</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Шторы для ванной</a
                        >
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Декор и интерьер</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </li>

              <li class="body-catalog__item">
                <span class="body-catalog__button accordion-start-js--next">
                  Хобби и творчество
                  <svg class="arrow-mini">
                    <use xlink:href="img/sprite.svg#arrow-catalog"></use>
                  </svg>
                </span>
                <div class="body-catalog__wrap">
                  <div class="body-catalog__body">
                    <div class="body-catalog__top-wrap">
                      <span class="body-catalog__name">Хобби и творчество</span>
                      <a href="#" class="body-catalog__more">
                        <span>Смотреть все</span>
                        <svg class="">
                          <use xlink:href="img/sprite.svg#arrow-line"></use>
                        </svg>
                      </a>
                    </div>
                    <ul class="body-catalog__list">
                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Аксессуары для интерьера</a
                        >
                      </li>
                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для кухни</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для отдыха</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Аксессуары для интерьера</a
                        >
                      </li>
                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для кухни</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для отдыха</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Аксессуары для интерьера</a
                        >
                      </li>
                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для кухни</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для отдыха</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Пледы</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Термосы</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Товары для праздника</a
                        >
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Фонарики</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Шторы для ванной</a
                        >
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Декор и интерьер</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </li>

              <li class="body-catalog__item">
                <span class="body-catalog__button accordion-start-js--next">
                  Подарки
                  <svg class="arrow-mini">
                    <use xlink:href="img/sprite.svg#arrow-catalog"></use>
                  </svg>
                </span>
                <div class="body-catalog__wrap">
                  <div class="body-catalog__body">
                    <div class="body-catalog__top-wrap">
                      <span class="body-catalog__name">Подарки</span>
                      <a href="#" class="body-catalog__more">
                        <span>Смотреть все</span>
                        <svg class="">
                          <use xlink:href="img/sprite.svg#arrow-line"></use>
                        </svg>
                      </a>
                    </div>
                    <ul class="body-catalog__list">
                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Аксессуары для интерьера</a
                        >
                      </li>
                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для кухни</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для отдыха</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Аксессуары для интерьера</a
                        >
                      </li>
                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для кухни</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для отдыха</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Аксессуары для интерьера</a
                        >
                      </li>
                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для кухни</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для отдыха</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Пледы</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Термосы</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Товары для праздника</a
                        >
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Фонарики</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Шторы для ванной</a
                        >
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Декор и интерьер</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </li>

              <li class="body-catalog__item">
                <span class="body-catalog__button accordion-start-js--next">
                  Одежда
                  <svg class="arrow-mini">
                    <use xlink:href="img/sprite.svg#arrow-catalog"></use>
                  </svg>
                </span>
                <div class="body-catalog__wrap">
                  <div class="body-catalog__body">
                    <div class="body-catalog__top-wrap">
                      <span class="body-catalog__name">Одежда</span>
                      <a href="#" class="body-catalog__more">
                        <span>Смотреть все</span>
                        <svg class="">
                          <use xlink:href="img/sprite.svg#arrow-line"></use>
                        </svg>
                      </a>
                    </div>
                    <ul class="body-catalog__list">
                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Аксессуары для интерьера</a
                        >
                      </li>
                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для кухни</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для отдыха</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Аксессуары для интерьера</a
                        >
                      </li>
                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для кухни</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для отдыха</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Аксессуары для интерьера</a
                        >
                      </li>
                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для кухни</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для отдыха</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Пледы</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Термосы</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Товары для праздника</a
                        >
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Фонарики</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Шторы для ванной</a
                        >
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Декор и интерьер</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </li>

              <li class="body-catalog__item">
                <span class="body-catalog__button accordion-start-js--next">
                  Галантерея и украшения
                  <svg class="arrow-mini">
                    <use xlink:href="img/sprite.svg#arrow-catalog"></use>
                  </svg>
                </span>
                <div class="body-catalog__wrap">
                  <div class="body-catalog__body">
                    <div class="body-catalog__top-wrap">
                      <span class="body-catalog__name">Галантерея и украшения</span>
                      <a href="#" class="body-catalog__more">
                        <span>Смотреть все</span>
                        <svg class="">
                          <use xlink:href="img/sprite.svg#arrow-line"></use>
                        </svg>
                      </a>
                    </div>
                    <ul class="body-catalog__list">
                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Аксессуары для интерьера</a
                        >
                      </li>
                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для кухни</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для отдыха</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Аксессуары для интерьера</a
                        >
                      </li>
                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для кухни</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для отдыха</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Аксессуары для интерьера</a
                        >
                      </li>
                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для кухни</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Для отдыха</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Пледы</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Термосы</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Товары для праздника</a
                        >
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link">Фонарики</a>
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Шторы для ванной</a
                        >
                      </li>

                      <li class="body-catalog__element">
                        <a href="#" class="body-catalog__link"
                          >Декор и интерьер</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </div>
        <form action="#" class="search__inner">
          <div class="search__field field-search">
            <div class="field-search__wrapper">
              <input type="text" class="field-search__input" />
              <button class="field-search__box btn-reset">
                <svg class="field-search__icon">
                  <use xlink:href="img/sprite.svg#search"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="search__button button-search btn"><span>Найти</span></div>
        </form>

      </div>
    </div>
  </div>
  <!--End Search -->
</header>
<!-- End Header -->
