<div class="swiper main-slider">
  <div class="swiper-wrapper main-slider__wrapper">
    <div class="swiper-slide main-slider__slide">
      <a href="#" class="main-slider__body">
        <div class="main-slider__item">
          <picture>
            <source srcset="img/slider-image.webp" type="image/webp" />
            <source srcset="img/slider-image.webp" type="image/png" media="(max-width: 600px)">
            <img
              loading="lazy"
              src="img/slider-image.jpg"
              class="image"
              alt="img"
            />
          </picture>
        </div>
      </a>
    </div>

    <div class="swiper-slide main-slider__slide">
      <a href="#" class="main-slider__body">
        <div class="main-slider__item">
          <picture>
            <source srcset="img/slider-image-2.webp" type="image/webp">
            <source srcset="img/slider-image-2.webp" type="image/png" media="(max-width: 600px)">
            <img
              loading="lazy"
              src="img/slider-image-2.jpg"
              class="image"
              alt="img"
            />
          </picture>
        </div>
      </a>
    </div>

    <div class="swiper-slide main-slider__slide">
      <a href="#" class="main-slider__body">
        <div class="main-slider__item">
          <picture>
            <source srcset="img/slider-image.webp" type="image/webp" />
            <source srcset="img/slider-image.webp" type="image/png" media="(max-width: 600px)">
            <img
              loading="lazy"
              src="img/slider-image.jpg"
              class="image"
              alt="img"
            />
          </picture>
        </div>
      </a>
    </div>
  </div>

  <div class="main-slider__next main-slider__btn btn-slider swiper-button-next">
    <svg class="">
      <use xlink:href="img/sprite.svg#arrow"></use>
    </svg>
  </div>
  <div class="main-slider__prev main-slider__btn btn-slider swiper-button-prev">
    <svg class="">
      <use xlink:href="img/sprite.svg#arrow"></use>
    </svg>
  </div>
  <div
    class="main-slider__pagination swiper-pagination"
  ></div>
</div>





